.footer {
    @extend .cont;
    background: $light-gray;
    text-align: center;
    box-sizing: border-box;

    @media only screen and (max-width: 500px) {
        padding: 15px 10px !important;
    }

    &--link {
        @include font($medium-gray, 16px, 400);
        text-decoration: none;
        margin: 0 10px;

        @media only screen and (max-width: 500px) {
            width: 100%;
            display: inline-block;
            margin: 5px 0;
        }

        &:hover {
            color: $light-blue;
        }
    }
}
