/* -- VARS -- */
$light-blue : #3498db;
$dark-blue: #0d74b9;
$black: #000;
$light-black: #222;
$medium-gray: #848484;
$gray: #d4d4d4;
$gray2: #e3e3e3;
$light-gray: #e7e7e7;

//MEDIA QUERY SIZES
$mobile: 640px;
$tablet: 940px;